.dashboard-hero {
    background-color: white;
    border-bottom: 1px solid var(--lightgrey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 160px;
    align-items: center;
    justify-items: center;
}

.hero-box {
    text-align: center;
}

.hero-box__big-number {
    font-size: 3.75rem;
}

.hero-box__small-number {
    font-size: 1.25rem;
    top: -30px;
    left: -5px;
}

.hero-box__small-number--positive {
    color: var(--positive);
}

.hero-box__small-number--negative {
    color: var(--negative);
}

.hero-box__sub-text {
    color: var(--sub-text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;
}


.dashboard-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 30px;
}

.box {
    border-radius: 3px;
    border: 1px solid var(--lightgrey);
    background-color: white;
}

.box__header {
    border-bottom: 1px solid var(--lightgrey);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.box__title {
    font-size: .9rem;
}

.simplelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.simplelist__item {
    padding: 0 10px;
    border-bottom: 1px solid var(--lightgrey);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    font-size: .8rem;
    min-height: 40px;
    align-items: center;
}

.simplelist__item--three-colums {
    grid-template-columns: auto 1fr auto;
}

.simplelist__item-date {
    color: var(--sub-text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: .65rem;
}

.simplelist__item:last-child {
    border: 0;
}

.label {
    color: white;
    font-size: .70rem;
    background-color: var(--hardgrey);
    padding: 3px 8px;
    border-radius: 3px;
}

.button {
    border: 1px solid var(--lightgrey);
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--text);
    font-size: .9rem;
}

.avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}