.box {
    border-radius: 3px;
    border: 1px solid var(--color-lightgrey);
    background-color: var(--color-white);
}

.box__header {
    border-bottom: 1px solid var(--color-lightgrey);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.box__title {
    font-size: var(--font-size-medium);
}