.comments {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.comment {
    border-radius: 3px;
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    font-size: var(--font-size-medium);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding: 15px;
}

.comment__header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.comment__realname {
    font-weight: bold;
}

.comment__username {
    color: var(--color-subtext);
}

.comment__postlink {
    color: var(--color-text);
    text-decoration: none;
}

.comment__postlink:hover {
    text-decoration: underline;
}

.comment__body {
    margin-top: 5px;
    line-height: 1.4;
    font-size: var(--font-size-small);
}

.comment__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.comment__actions>* {
    margin-left: 15px;
}

.comment__link {
    text-decoration: none;
}

.comment__link:hover {
    text-decoration: underline;
}