.c-comments {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: var(--color-lightgrey);
}

.c-comment {
    position: relative;
    font-size: var(--font-size-medium);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding: 15px;
    background-color: var(--color-white);
    overflow: hidden;
}

.c-comment--reported:after {
    position: absolute;
    content: 'Reportado';
    background-color: var(--color-warning);
    color: var(--color-white);
    font-size: var(--font-size-small);
    font-weight: bold;
    transform: rotate(-45deg);
    padding: 5px 25px;
    left: -25px;
    top: 18px;

}

.c-comment__header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.c-comment__realname {
    font-weight: bold;
}

.c-comment__username {
    color: var(--color-subtext);
}

.c-comment__postlink {
    color: var(--color-text);
    text-decoration: none;
}

.c-comment__postlink:hover {
    text-decoration: underline;
}

.c-comment__container {
    position: relative;
}

.c-comment__body {
    margin-top: 5px;
    line-height: 1.4;
    font-size: var(--font-size-small);
    margin-bottom: 40px;
}

.c-comment__text-break {
    font-style: italic;
    color: var(--color-hardgrey);
}

.c-comment__actions {
    position: absolute;
    text-align: right;
    font-size: var(--font-size-small);
    bottom: 0;
    right: 0;
}