.filters {
    width: 200px;
}

.filters__title {
    font-weight: bold;
}

.filters__title-icon {
    float: right;
    margin-bottom: -2px;
}

.filters__list {
    list-style: none;
    margin: 20px -15px;
    padding: 0;
}

.filter {
    padding: 10px 15px;
    border-radius: 3px;
}

.filter--selected {
    color: var(--color-white);
    background-color: rgba(0, 0, 0, .2);
}

.filter__name {
    text-decoration: none;
}

.filter__number {
    float: right;
}