.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination__page,
.pagination__gap {
    color: var(--color-text);
    display: inline-block;
    line-height: 1.2;
    padding: 5px 10px;
    font-size: var(--font-size-medium);
    background: var(--color-white);
    vertical-align: middle;
    border: 1px solid var(--color-lightgrey);
    border-radius: 3px;
}

.pagination__gap,
.pagination__page--selected {
    border: 0;
}

.pagination__link {
    cursor: pointer;
    text-decoration: none;
}