html {
    font-size: var(--font-size-base);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text);
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

.content {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100vh;
}

.side-menu {
    background-color: var(--color-primary);
}

.side-menu__logo {
    background-color: var(--color-darkprimary);
    color: var(--color-white);
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu__items {
    list-style: none;
    margin: 22px 0;
    padding: 0;
    text-align: center;
}

.side-menu__item {
    color: var(--color-whitefade);
    position: relative;
    margin-bottom: 20px;
}

.side-menu__link:hover {
    color: var(--color-white);
}

.side-menu__link svg {
    border-radius: 50%;
    border: 2px solid var(--color-whitefade);
    padding: 5px;
}

.side-menu__item--selected {
    color: var(--color-white);
}

.side-menu__item--selected svg {
    border-color: var(--color-white);
}

.top-search {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.top-search__icon {
    color: var(--color-hardgrey);
}

.top-search__field {
    border: 0;
    outline: none;
    padding: 20px 10px 20px;
    width: 100%;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 62px;
    border-bottom: 1px solid var(--color-lightgrey);
    background-color: var(--color-white);
}

.nav-bar__logoff {
    border: 0;
    border-left: 1px solid var(--color-lightgrey);
    background-color: transparent;
    cursor: pointer;
}

.nav-bar__logoff svg {
    color: var(--color-hardgrey);
}

.main {
    background-color: var(--color-background)
}